.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid black;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #f6f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.popup input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.popup input:focus {
    border-color: #6e9ecf;
    outline: none;
}

.popup button {
    margin-top: 10px;
    background-color: #6e9ecf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #5a82b3;
}
