header{
    display: flex;
    justify-content: space-between;
    position:absolute;
    width:100%;
    
}

#logo-text{
    font-family: 'Phudu', cursive;
    font-size : 60px;
    color: blanchedalmond;
    text-shadow: 1px 3px 4px rgb(0,0,0);
}

ul{
    list-style: none;
    display : flex;
    justify-content: space-between;
}

li{
    margin:20px;
}
#nav{
    text-decoration: none;
    padding:20px;
    color: yellow;
}

#nav:hover{
 background-color: yellow;
 color: black;
 border-radius: 10px;
 text-shadow: 1px 1px 2px black;
}