
h1{
    margin: 0px;
}

header{
    text-align: center;
    background-color: rgb(53, 62, 225);
    color: white;
    padding: 30px;
}



ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap : 50px;
    border-color: black;
}

li{
    border-radius:  5px;
    background-color: rgb(225, 196, 234);
    padding : 5px 50px 5px 50px;
}

#setting-board{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#over-lay{
    position:absolute;
    z-index:2;
    background-color: aquamarine;
}